body {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    text-align: center;
    background: #D8CBC7;
    color: #33673B;
    font-size: 12px;
}

.container {
display:flex;
justify-content: center;
text-align: left;

}

h2 {
    font-family: 'Leckerli One', cursive;
    margin-left: 39px;;
}
ul {
    list-style-type:none;
}

li {
    margin: 10px 0px 20px 0px;
    padding: 0px;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.2);
}



.yum {
    font-size: 20px;
}

h1 {
    font-family: 'Leckerli One', cursive;
    color: #CC3F0C;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h3 {
    font-size: 150px;
    margin-top: 0px;
    margin-bottom: 10px;
}


